/* Error: Top-level selectors may not contain the parent selector "&".
 *      ,
 * 1184 |   &.nyc & {
 *      |   ^
 *      '
 *   public\css\components\2-layout\scene.scss 1184:3    scene-940()
 *   public\css\components\2-layout\responsive.scss 9:3  @import
 *   public\css\main.scss 17:9                           root stylesheet */

body::before {
  font-family: "Source Code Pro", "SF Mono", Monaco, Inconsolata, "Fira Mono",
      "Droid Sans Mono", monospace, monospace;
  white-space: pre;
  display: block;
  padding: 1em;
  margin-bottom: 1em;
  border-bottom: 2px solid black;
  content: 'Error: Top-level selectors may not contain the parent selector "&".\a      \2577 \a 1184 \2502    &.nyc & {\d\a      \2502    ^\a      \2575 \a   public\\css\\components\\2-layout\\scene.scss 1184:3    scene-940()\a   public\\css\\components\\2-layout\\responsive.scss 9:3  @import\a   public\\css\\main.scss 17:9                           root stylesheet';
}
