.scene {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  overflow: hidden;
  z-index: 0;

  &__bg,
  &__back,
  &__main,
  &__front {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
  }

  &__bg {
    z-index: -1;
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;

    img {
      width: 100%;
      height: 100%;
      object-fit: fill;
    }
  }
  &__back {
    z-index: 0;
  }
  &__main {
    z-index: 1;
  }
  &__front {
    z-index: 2;
  }
  &__item {
    position: absolute;

    img,
    canvas {
      width: 100%;
      height: auto;
    }
    &._height {
      img,
      canvas {
        height: 100%;
        width: auto;
      }
    }
    &._fill {
      img,
      canvas {
        height: 100%;
        width: 100%;
        object-fit: fill;
      }
    }

    &.ground {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 45%;
    }
    &.city {
      bottom: 39.6%;
      left: 10%;
      width: 88%;
      height: 52%;

      img,
      canvas {
        object-fit: contain;
        object-position: bottom;
      }
    }
    &.land {
      bottom: 0;
      left: 0;
      width: 100%;
      height: 50%;
    }
  }

  &.dynasty & {
    &__item {
      &.warriors {
        left: -7%;
        width: 113%;
        bottom: -16%;
      }
      &.road {
        left: 17%;
        width: 68%;
        bottom: 0;
        height: 31%;
      }
      &.suntzu {
        bottom: 33.8%;
        height: 51%;
        right: 1.2%;
      }
      &.soldier {
        left: 26%;
        width: 37%;
        bottom: 4%;
      }
      &.glwos {
        left: 0%;
        width: 100%;
        bottom: 2%;
      }
    }
  }
}
